footer {
    display: flex;
    flex-direction: column;
    background: var(--bg-dark);
    color: rgba(0, 0, 0, 0.75);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--body-text-light);
    padding: 1em;
}

.link__image{
    max-width: 50px;
}

.icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.wpp-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-image: url('../../../assets/wpp_logo_light.svg');
}

.email-icon {
    width: 1em;
    height: 1em;
    vertical-align: -webkit-baseline-middle;
    background-image: url('../../../assets/email_logo_light.svg');
}

a {
    color: var(--body-text-light);
    text-decoration: none;
}

.contact {
    vertical-align: middle;
}

@media screen and (min-width: 600px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
  }