footer {
    display: flex;
    flex-direction: column;
    background: var(--rose-color);
    color: rgba(0, 0, 0, 0.75);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--body-text);
    padding: 1em;
}

.link__image{
    max-width: 30px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 4px;
}

.wpp-icon {
    width: 1.2em;
    height: 1.2em;
    background-image: url('../../../assets/wpp_logo.svg');
}

.email-icon {
    width: 1.2em;
    height: 1.2em;
    background-image: url('../../../assets/email_logo.svg');
}

a {
    color: #000;
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
  }