<footer>
    <section class="section">
        <h6>Siga-nos</h6>
        <div class="social-icons">
            <a href="https://instagram.com/cute_laser" target="_blank" title="Cute Laser no instagram">
                <img class="link__image" src="assets/insta_logo.svg" alt="Logo instagram">
            </a>
        </div>
    </section>
    <section class="section">
        <h6>Entre em contato</h6>
        <p><a href="https://api.whatsapp.com/send?phone=34996735986&text=Ol%C3%A1!" target="_blank" title="Diga um olá!"><span class="wpp-icon" aria-hidden="true"></span>(34) 9 96735986</a></p>
        <p><a href="mailto:contactcutelaser@gmail.com">contactcutelaser@gmail.com</a></p>
        <p>Lagoa Formosa - MG</p>
    </section>
</footer>