main {
    justify-content: center;
    align-items: center;
}

picture {
    width: 60%;
}

img {
    max-width: 100%;
}

p, h1{
    padding: 1em 1em 0 1em;
    color: #000;
    opacity: 0.75;
}

.link__image{
    max-width: 30px;
}

.products {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}