<main class="main-content">
    <picture>
        <img src="assets/brand.svg" alt="Logo com a marca cute laser">
    </picture>
    <h1>Bem vindo!</h1>
    <p>Olá! Estamos muito felizes de ter você aqui!</p>
    <p>No momento estamos preparando produtos com qualidade para atender você.</p>
    <p>Que tal dar uma olhada em nossas redes sociais?</p>
    <section>
        <a href="https://instagram.com/cute_laser" target="_blank" title="Cute Laser no instagram">
            <img class="link__image" src="assets/insta_logo.svg" alt="Logo instagram">
        </a>
    </section>
</main>