main {
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
}

picture {
    width: 60%;
}

img {
    max-width: 100%;
}

p, h1{
    padding: 1em 1em 0 1em;
    color: #000;
    opacity: 0.75;
}

.link__image{
    max-width: 100px;
}

.social {
    color: var(--body-text-dark);
}