<main class="main-content">
    <p>A <b>Cute Laser</b> surgiu com intuito de fornecer serviços de corte e gravação a laser. Trabalhando com passantes, apliques, letreiros, chaveiros, dentre outros personalizados.</p>
    <p>A empresa teve abertura formalizada recentemente em <b>28/05/2023</b> com CNPJ: <b>50.848.737/0001-37</b>.</p>
    <p>Apesar de pouco tempo no mercado a empresa Cute Laser já atendeu diversos pedidos de clientes com
        um alto nível de qualidade recebendo assim ótimas avaliações por parte de seus clientes.</p>
    <p>Siga a empresa no perfil do Instagram e fique por dentro do lançamento de novos produtos.</p>
    <p>Entre em contato também pelo whatsapp e faça o orçamento de seus personalizados!</p>
</main>