/* You can add global styles to this file, and also import other style files */

body {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
}

:root {
    --bg-dark: #000;
    --body-text-light: #DACFBE;
    --body-text-light-secondary: #FFF;
    --body-text-dark: #000;
    --bg-light: #FFF;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-light);
    color: var(--body-text-dark);
    min-height: calc(100vh - 240px);
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 56px;
}

@font-face {
    font-family: Sacramento;
    src: local(Sacramento), url(./assets/fonts/Sacramento-Regular.ttf)
  }

  @font-face {
    font-family: Westmount;
    src: local(Westmount), url(./assets/fonts/Westmount-Regular.ttf)
  }