/* You can add global styles to this file, and also import other style files */

body {
    display: flex;
    min-width: 100%;
    min-height: 100%;
}

:root {
    --rose-color: #f7dadf;
    --body-text: #555555;
}
